
<div>
    <nav class="navbar navbar-expand-md navbar-light bg-info">
        <div class="container-fluid">
            <a class="navbar-brand h1 mb-0 text-light" href="#">PetApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsite">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/Cadastro">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/CadastroAnimais">Cadastro de Pet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/Adocao">Adoção</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/Animais">Animais</a>
                    </li>
                </ul>
                <div class="dropdown dropdown-toggle mr-auto" data-toggle="dropdown">Social
                    <ul class="dropdown-menu mr-auto">
                        <a class="dropdown-item" href="#">Facebook</a>
                        <a class="dropdown-item" href="#">Twitter</a>
                        <a class="dropdown-item" href="#">Instagram</a>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>

<div class="bg-info">
    <img class="bg-white mx-auto d-flex justify-content-around rounded"  src="../assets/img/img.jpg" thumbnail />
</div>


