<div class="bg-info container-fluid mx-auto my-auto m-2 p-2">


        <div class="carousel-inner">
              <div >
              <img class="d-block w-100" src="../../../assets/img/Banner4.jpg" >

        </div>

        <div class="row">

          <div class="col-md-8 mx-auto my-4 py-4 bg-light rounded">



              <div class="row">
                <div class="col-sm-6">
                  <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                      <h6 class="card-header text-center">Raça: não definida</h6>
                      <h2 class="card-title mx-auto text-center">Bob</h2>
                      <img class="card-img" src="../../../assets/img/dog1.jpg" alt="Bob">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card text-center"  style="height: 24rem;">
                    <div class="card-body">
                      <h6 class="mx-auto">DADOS GERAIS</h6>
                      <ul class="pet-check text-left">
                        <li>Cachorro.</li>
                        <li>Sexo: Macho.</li>
                        <li>Porte: Pequeno.</li>
                        <li>Idade: 1 ano.</li>
                        <li>informações adicionais: carinhoso, adora brincar, docil. </li>
                      </ul>
                       <br />
                        <hr/>
                         <br />

                         <div class="container-fluid d-flex justify-content-around">
                           <a href="/Animais" class="btn btn-primary">Voltar</a>
                           <Button type="submit"class="btn btn-outline-success" href='/Cadastro'>
                            Adotar
                           </Button>
                         </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
</div>
